.box{
    border: 1px solid black;
    background-color: aqua;
    margin: 150px;
    /* transform: translate(100px,10px);
    transform: rotate(3deg);
    transform: scale(2,3);
    transform: skew (30deg); */

        
    /* matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY())     */
    transform: matrix(2px,3deg);
}